<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML semantic Tags</title>
</head>
<body>
    <header style="background-color: blue; text-align: center; padding: 10px; color: white;">This is the header</header>

    <nav style="background-color: rgb(223, 209, 24); text-align: center; padding: 10px; color: rgb(223, 19, 19);">This is the Navigation-Bar</nav>

    <aside style="background-color: rgb(196, 60, 155); text-align: center; padding: 50px; color: rgb(236, 230, 230); width: 200px; float: right;">This is a Sidebar</aside>

    <section style="background-color: rgb(17, 224, 224); text-align: center; padding: 50px; color: rgb(207, 21, 136);">This is the First Section</section>

    <section style="background-color: rgb(69, 60, 196); text-align: center; padding: 50px; color: rgb(94, 160, 8);">This is the Second Section</section>
     
    <footer style="background-color: rgb(230, 118, 53); text-align: center; padding: 30px; color: rgb(234, 236, 231);">This is the footer Section</footer>
    

</body>
</html>

<!----------------------------<Tags>------------------------------------------->

<!--header: used to difine a header for a document or a section.-->
<!--nav: used to definr a container for navigation links.-->
<!--section: used to define a section in a document.-->
<!--article: used to define an independent self-contained aritcle.-->
<!--aside: used to define content aside from the content(like a slidebar)-->
<!--footer: used to define a footer for a document or a section.-->
<!--details: used to define additional details.-->
<!--summary: used to define a heading for the <details>element.-->